//! **************************************************************************
// Written by: Map P.58f on Fri Mar 27 14:20:39 2015
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

