NET "A[0]" LOC = "H13";
NET "A[1]" LOC = "H14";
NET "A[2]" LOC = "G12";
NET "A[3]" LOC = "F12";

NET "B[0]" LOC = "K13";
NET "B[1]" LOC = "K14";
NET "B[2]" LOC = "J13";
NET "B[3]" LOC = "J14";

NET "Overflow" LOC = "K12";

NET "D[6]" LOC = "E14";
NET "D[5]" LOC = "G13";
NET "D[4]" LOC = "N15";
NET "D[3]" LOC = "P15";
NET "D[2]" LOC = "R16";
NET "D[1]" LOC = "F13";
NET "D[0]" LOC = "N16";